<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["title"]</title>
</head>
<body>
    <div style="background-color: blue;">Header</div>
        @* This will render the rest of pages here *@
        @RenderBody()
    <div style="background-color: green;">Footer</div>
</body>
</html>