@using Phong
@model Product

<div class="cart">
    <h2 class="card-header text-info">
        @Model.Name
    </h2>
    <div class="card-body my-4" style="width: 20rem;">
        <p>@Model.Description</p>
        <p>@Model.Price</p>
        <a href="" class="btn btn-success btn-sm">Dat hang</a>
    </div>
</div>